<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="webedit:openexperienceeditor" type="Sitecore.Support.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.Support.119280"
               patch:instead="*[@type='Sitecore.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.ExperienceEditor']" />
    </commands>
  </sitecore>
</configuration>